<div id="processSelector" class="col-md-12" style="margin-top:10px;" align="center">
    Show Heatmap by Processes <select class="selectpicker" id="heatmapfolders" data-style="btn-default" title="Pick process" data-width="175px">
    </select><img id="loading_heatmap_process" src="./img/loading_folder.gif" height="35" width="35" style="display:none">
</div>
<div id="heatmap" class="col-md-12" align="center"></div>